<mat-sidenav-container
  class="container"
  (backdropClick)="sidenav.close()">

  <!-- Navigation Sidebar -->
  <mat-sidenav #sidenav
	       class="sidenav"
	       (keydown.escape)="sidenav.close()"
	       disableClose>

    <h3>Connect to a device:</h3>
    <mat-tab-group #connection_type_tabs>
      <mat-tab id="mat-tab-usb" label="USB">
	<!-- List of Devices -->
	<mat-selection-list #device [multiple]="false">
	  <mat-list-option *ngFor="let device of devices" [value]="device">
	    {{ device.model }}
	  </mat-list-option>
	</mat-selection-list>
	<ul>
	  <li *ngFor="let requirement of usbRequirements">
	    <mat-checkbox
	      [color]="requirement.color"
	      [(ngModel)]="requirement.completed"
	      (ngModelChange)="updateAllComplete('usb')">
	      {{ requirement.text }}
	    </mat-checkbox>
	  </li>
	</ul>
	<div class="buttons-section">
	  <button
	    mat-raised-button
	    color="primary"
	    [disabled]="!allComplete_usb"
	    (click)="chooseDevice(device.selectedOptions.selected[0]?.value, connection_type_tabs.selectedIndex); sidenav.close()">Connect</button>
	  <button
	    mat-raised-button
	    color="primary"
	    (click)="getConnectedDevices()">Refresh</button>
	</div>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content-grid">
      <!-- Open Menu Options -->
      <div class="menu-button">
	<button mat-icon-button (click)="sidenav.open()">
	  <mat-icon>menu</mat-icon>
	</button>
      </div>

      <!-- Camera Controls -->
      <app-capture-control [chosenDevice]="chosenDevice"></app-capture-control>
      
      <!-- Image Result -->
      <app-image-result [chosenDevice]="chosenDevice"></app-image-result>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
