<div id="Custom_Size__1">
  <div id="Group_1">
    <button id="capture-image-button" (click)="captureImage()">Capture Image</button>
  </div>
  <div id="Group_18">
    <svg class="Rectangle_1_k">
      <rect id="Rectangle_1_k" rx="10" ry="10" x="0" y="0" width="162" height="36">
      </rect>
    </svg>
    <div id="Open_File_Browser">
      <span>Open File Browser</span>
    </div>
  </div>
  <div id="Group_19">
    <svg class="Rectangle_1_n">
      <rect id="Rectangle_1_n" rx="10" ry="10" x="0" y="0" width="162" height="36">
      </rect>
    </svg>
    <div id="Open_Image">
      <span>Open Image</span>
    </div>
  </div>
  <svg class="Line_1" viewBox="0 0 1 931">
    <path id="Line_1" d="M 0 0 L 0 931">
    </path>
  </svg>
  <div id="Aperture">
    <span>Aperture</span>
  </div>
  <div id="Format">
    <span>Format</span>
  </div>
  <div id="JPEG">
    <span>JPEG</span>
  </div>
  <div id="W_H">
    <span>W, H</span>
  </div>
  <div id="VendorID">
    <span>VendorID</span>
  </div>
  <div id="Aperture_v">
    <span>Aperture</span>
  </div>
  <div id="Lens">
    <span>Lens</span>
  </div>
  <div id="Aperture_x">
    <span>Aperture</span>
  </div>
  <div id="Aperture_y">
    <span>Aperture</span>
  </div>
  <div id="Manufacturer">
    <span>Manufacturer</span>
  </div>
  <div id="Aperture_">
    <span>Aperture</span>
  </div>
  <div id="Model">
    <span>Model</span>
  </div>
  <div id="NIKON_D3100">
    <span>NIKON D3100</span>
  </div>
  <div id="ID1234">
    <span>1234</span>
  </div>
  <div id="NIKON_D3100_">
    <span>NIKON D3100</span>
  </div>
  <div id="ID1920_1080">
    <span>1920, 1080</span>
  </div>
  <div id="Aperture_ba">
    <span>Aperture</span>
  </div>
  <div id="Aperture_bb">
    <span>Aperture</span>
  </div>
  <div id="Aperture_bc">
    <span>Aperture</span>
  </div>
  <div id="Group_2">
    <div class="Rectangle_5">
      <img src="{{device.image_latest_path}}" alt="">
    </div>
  </div>
  <div id="Group_3">
    <svg class="Rectangle_5_bf">
      <rect id="Rectangle_5_bf" rx="0" ry="0" x="0" y="0" width="140" height="94">
      </rect>
    </svg>
    <svg class="Polygon_1_bg" viewBox="0 0 35 32">
      <path id="Polygon_1_bg" d="M 17.5 0 L 35 32 L 0 32 Z">
      </path>
    </svg>
    <svg class="Ellipse_1_bh">
      <ellipse id="Ellipse_1_bh" rx="12.5" ry="12.5" cx="12.5" cy="12.5">
      </ellipse>
    </svg>
    <svg class="Rectangle_3_bi">
      <rect id="Rectangle_3_bi" rx="0" ry="0" x="0" y="0" width="37" height="37">
      </rect>
    </svg>
  </div>
  <div id="Group_4">
    <svg class="Rectangle_5_bk">
      <rect id="Rectangle_5_bk" rx="0" ry="0" x="0" y="0" width="140" height="94">
      </rect>
    </svg>
    <svg class="Polygon_1_bl" viewBox="0 0 35 31">
      <path id="Polygon_1_bl" d="M 17.5 0 L 35 31 L 0 31 Z">
      </path>
    </svg>
    <svg class="Ellipse_1_bm">
      <ellipse id="Ellipse_1_bm" rx="12.5" ry="12.5" cx="12.5" cy="12.5">
      </ellipse>
    </svg>
    <svg class="Rectangle_3_bn">
      <rect id="Rectangle_3_bn" rx="0" ry="0" x="0" y="0" width="37" height="37">
      </rect>
    </svg>
  </div>
  <div id="Group_5">
    <svg class="Rectangle_5_bp">
      <rect id="Rectangle_5_bp" rx="0" ry="0" x="0" y="0" width="140" height="94">
      </rect>
    </svg>
    <svg class="Polygon_1_bq" viewBox="0 0 35 31">
      <path id="Polygon_1_bq" d="M 17.5 0 L 35 31 L 0 31 Z">
      </path>
    </svg>
    <svg class="Ellipse_1_br">
      <ellipse id="Ellipse_1_br" rx="12.5" ry="12.5" cx="12.5" cy="12.5">
      </ellipse>
    </svg>
    <svg class="Rectangle_3_bs">
      <rect id="Rectangle_3_bs" rx="0" ry="0" x="0" y="0" width="37" height="37">
      </rect>
    </svg>
  </div>
  <div id="Live_View">
    <span>Live View</span>
  </div>
  <div id="Last_Image">
    <span>Last Image</span>
  </div>
  <div id="f-numbers">
    <select id="f-number" (change)="setFNumber($event.target.value)">
      <option *ngFor="let f_number of device.aperture_options" value="{{ f_number }}">f{{ f_number / 100 | number:'0.1' }}</option>
    </select>
  </div>
  <div id="Shutter">
    <span>Shutter (ms)</span>
  </div>
  <div id="exposures">
    <select id="exposure" (change)="setFNumber($event.target.value)">
      <option *ngFor="let exposure_time of device.shutter_options" value="{{ exposure_time }}">{{ exposure_time | number:'0.3' }}s</option>
    </select>
  </div>
  <div id="ISO">
    <span>ISO</span>
  </div>
  <div id="ID400">
    <span>{{device.iso}}</span>
  </div>
  <svg class="Line_8" viewBox="0 0 359 1">
    <path id="Line_8" d="M 0 0 L 359 0">
    </path>
  </svg>
  <div [ngClass]="getModeClass('M')" id="M">
    <span>M</span>
  </div>
  <div [ngClass]="getModeClass('A')" id="A">
    <span>A</span>
  </div>
  <div [ngClass]="getModeClass('S')" id="S">
    <span>S</span>
  </div>
  <div [ngClass]="getModeClass('P')" id="P">
    <span>P</span>
  </div>
  <div id="Group_9">
    <svg class="Rectangle_5_b">
      <rect id="Rectangle_5_b" rx="0" ry="0" x="0" y="0" width="140" height="94">
      </rect>
    </svg>
    <svg class="Polygon_1_b" viewBox="0 0 35 32">
      <path id="Polygon_1_b" d="M 17.5 0 L 35 32 L 0 32 Z">
      </path>
    </svg>
    <svg class="Ellipse_1_b">
      <ellipse id="Ellipse_1_b" rx="12.5" ry="12.5" cx="12.5" cy="12.5">
      </ellipse>
    </svg>
    <svg class="Rectangle_3_b">
      <rect id="Rectangle_3_b" rx="0" ry="0" x="0" y="0" width="37" height="37">
      </rect>
    </svg>
  </div>
  <div id="Group_7">
    <svg class="Rectangle_5_cb">
      <rect id="Rectangle_5_cb" rx="0" ry="0" x="0" y="0" width="140" height="95">
      </rect>
    </svg>
    <svg class="Polygon_1_cc" viewBox="0 0 35 31">
      <path id="Polygon_1_cc" d="M 17.5 0 L 35 31 L 0 31 Z">
      </path>
    </svg>
    <svg class="Ellipse_1_cd">
      <ellipse id="Ellipse_1_cd" rx="12.5" ry="12.5" cx="12.5" cy="12.5">
      </ellipse>
    </svg>
    <svg class="Rectangle_3_ce">
      <rect id="Rectangle_3_ce" rx="0" ry="0" x="0" y="0" width="37" height="36">
      </rect>
    </svg>
  </div>
  <div id="Group_8">
    <svg class="Rectangle_5_cg">
      <rect id="Rectangle_5_cg" rx="0" ry="0" x="0" y="0" width="140" height="94">
      </rect>
    </svg>
    <svg class="Polygon_1_ch" viewBox="0 0 35 32">
      <path id="Polygon_1_ch" d="M 17.5 0 L 35 32 L 0 32 Z">
      </path>
    </svg>
    <svg class="Ellipse_1_ci">
      <ellipse id="Ellipse_1_ci" rx="12.5" ry="12.5" cx="12.5" cy="12.5">
      </ellipse>
    </svg>
    <svg class="Rectangle_3_cj">
      <rect id="Rectangle_3_cj" rx="0" ry="0" x="0" y="0" width="37" height="37">
      </rect>
    </svg>
  </div>
  <svg class="Rectangle_6">
    <rect id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="167" height="112">
    </rect>
  </svg>
  <div id="Group_15">
    <svg class="Rectangle_5_cm">
      <rect id="Rectangle_5_cm" rx="0" ry="0" x="0" y="0" width="140" height="94">
      </rect>
    </svg>
    <svg class="Polygon_1_cn" viewBox="0 0 35 32">
      <path id="Polygon_1_cn" d="M 17.5 0 L 35 32 L 0 32 Z">
      </path>
    </svg>
    <svg class="Ellipse_1_co">
      <ellipse id="Ellipse_1_co" rx="12.5" ry="12.5" cx="12.5" cy="12.5">
      </ellipse>
    </svg>
    <svg class="Rectangle_3_cp">
      <rect id="Rectangle_3_cp" rx="0" ry="0" x="0" y="0" width="37" height="37">
      </rect>
    </svg>
  </div>
  <div id="Group_17">
    <svg class="Rectangle_5_cr">
      <rect id="Rectangle_5_cr" rx="0" ry="0" x="0" y="0" width="140" height="94">
      </rect>
    </svg>
    <svg class="Polygon_1_cs" viewBox="0 0 35 32">
      <path id="Polygon_1_cs" d="M 17.5 0 L 35 32 L 0 32 Z">
      </path>
    </svg>
    <svg class="Ellipse_1_ct">
      <ellipse id="Ellipse_1_ct" rx="12.5" ry="12.5" cx="12.5" cy="12.5">
      </ellipse>
    </svg>
    <svg class="Rectangle_3_cu">
      <rect id="Rectangle_3_cu" rx="0" ry="0" x="0" y="0" width="37" height="37">
      </rect>
    </svg>
  </div>
  <div id="Group_16">
    <div class="Rectangle_5_cw">
      <img src="{{device.image_latest_path}}" alt="">
    </div>
  </div>
  <svg class="Line_9" viewBox="0 0 1082 1">
    <path id="Line_9" d="M 0 0 L 1082 0">
    </path>
  </svg>
  <svg class="Rectangle_7">
    <rect id="Rectangle_7" rx="3.5" ry="3.5" x="0" y="0" width="223" height="7">
    </rect>
  </svg>
  <svg class="Rectangle_8">
    <rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="109" height="121">
    </rect>
  </svg>
  <div id="Count">
    <span>Count</span>
  </div>
  <div id="Delay">
    <span>Delay</span>
  </div>
  <svg class="Rectangle_9">
    <rect id="Rectangle_9" rx="0" ry="0" x="0" y="0" width="77" height="31">
    </rect>
  </svg>
  <svg class="Rectangle_10">
    <rect id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="77" height="31">
    </rect>
  </svg>
  <div id="Stop_Time">
    <span>Stop Time</span>
  </div>
  <div id="Something">
    <span>Something…</span>
  </div>
  <svg class="Rectangle_11">
    <rect id="Rectangle_11" rx="0" ry="0" x="0" y="0" width="77" height="31">
    </rect>
  </svg>
  <svg class="Rectangle_12">
    <rect id="Rectangle_12" rx="0" ry="0" x="0" y="0" width="77" height="31">
    </rect>
  </svg>
  <svg class="Line_10" viewBox="0 0 251 1">
    <path id="Line_10" d="M 0 0 L 251 0">
    </path>
  </svg>
  <svg class="Line_11" viewBox="0 0 269 1">
    <path id="Line_11" d="M 0 0 L 269 0">
    </path>
  </svg>
  <div id="Group_20">
    <svg class="Line_12" viewBox="0 0 11 14">
      <path id="Line_12" d="M 0 0 L 11 14">
      </path>
    </svg>
    <svg class="Line_13" viewBox="0 0 11 14">
      <path id="Line_13" d="M 11 0 L 0 14">
      </path>
    </svg>
  </div>
  <div id="OpticNerve">
    <span>OpticNerve</span>
  </div>
  <svg class="Polygon_2" viewBox="0 0 33 24">
    <path id="Polygon_2" d="M 16.5 0 L 33 24 L 0 24 Z">
    </path>
  </svg>
</div>
