body {
    margin: 0;
    font-family: 'Nunito', 'san-serif';
    font-size: 18px;
    overflow-y: scroll;
    overflow-x: auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgb(31, 36, 39);
    padding: 1em 0; // top, bottom, right, left

    a {
        color: white;
        text-decoration: none;
    }

    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
        }

        li a{
            padding: 1em;

            &:hover {
                background: darken(rgb(33, 36, 39), 10%);
            }
        }

        img {
          height: 60px;
          width: 60px;
          border-radius: 40px;
          border: 4px solid #1f2427;
        }
    }
}
