/* CSS HEX */
/*
--pale-silver: #d7cdccff;
--white: #ffffffff;
--black-coral: #59656fff;
--dark-purple: #28112bff;
--raisin-black: #1d1e2cff;
*/

/* Global */
.device {
    height: 100vh;
    background: #59656fff;
    position: relative;
}
.field {
    padding: 2em 3em;
}

/* Device Details */
.device-details {
    background: #222222;
    color: #59656fff;
}
.device-detail span:last-of-type {
    font-weight: bold;
}
.device-detail {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    font-size: 16px;
    padding-bottom: 0.7em;
}

/* Spinner */
mat-spinner {
    position: absolute;
    top: 50%;
    left: 30%;
}
.spinner-overlay {
    position: absolute;
    background: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(6px);
    height: 100%;
    width: 100%;
}
